
body {
  max-height: 767px;
}
div {
  max-width: 480px;
  width: 100%;
  border: none;
}

div p {
  text-align: center;
  vertical-align: middle;
}

/* DIV SPECIFIC CONTROLS */

#aDiv {
  background-color: green;
  height: 75px;
  line-height: 75px;
}

#bDiv {
  background-color: blue;
  height: 150px;
  line-height: 150px;
}

#cDiv {
  height: 125px;
  line-height: 125px;
  background-color: orange;
}

#dDiv {
  height: 125px;
  line-height: 125px;
  background-color: teal;
}

#eDiv {
  height: 250px;
  line-height: 250px;
  width: 50%;
  background-color: white;
  float: left;
  clear: left;
}

#fDiv {
  height: 250px;
  line-height: 250px;
  width: 50%;
  background-color: grey;
  float: right;
  clear: right;
}

#gDiv {
  height: 250px;
  line-height: 250px;
  width: 50%;
  background-color: purple;
  float: left;
  clear: left;
}

#hDiv {
  height: 250px;
  line-height: 250px;
  width: 50%;
  background-color: yellow;
  float: right;
  clear: right;
}

#iDiv {
  height: 80px;
  line-height: 80px;
  background-color: red;
  clear: both;
}

/* Media Breakpoint Entry at 768 pixels across */
/* For Desktop */
@media only screen and (min-width: 768px) {

  section {
    overflow: hidden;
    border: none;
  }
  div, body {
    max-width: 960px;
    width: 100%;
    border: none;
    /* overflow: hidden; */
  }

  #aDiv {
    background-color: purple;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
  }
  
  #bDiv {
    background-color: orange;
    height: 600px;
    line-height: 600px;
    width: 200px;
    float: left;
    text-align: center;
    /* display: inline-block; */
  }

  #cDiv {
    height: 200px;
    line-height: 200px;
    width: 380px;
    background-color: blue;
    display: inline-block;
    margin-right: -5px;
    /* overflow: hidden; */
    /* float: right; */
    /* clear: both; */
  }

  #dDiv {
    height: 200px;
    line-height: 200px;
    width: 380px;
    background-color: yellow;
    /* display: inline-block; */
    border: none;
    /* overflow: hidden; */
    float: right;
    /* clear: both; */
  }

  #eDiv {
    height: 250px;
    line-height: 250px;
    width: 190px;
    background-color: green;
    /* overflow: hidden; */
    /* float: right; */
    /* clear: left; */
    display: inline-block;
    border: none;
  }
  
  #fDiv {
    height: 250px;
    line-height: 250px;
    width: 190px;
    background-color: teal;
    /* float: right; */
    /* clear: left; */
    display: inline-block;
    border: none;
  }
  
  #gDiv {
    height: 250px;
    line-height: 250px;
    width: 190px;
    background-color: magenta;
    /* float: right; */
    /* clear: left; */
    display: inline-block;
    border: none;
  }
  
  #hDiv {
    height: 250px;
    line-height: 250px;
    width: 190px;
    background-color: lightgrey;
    /* float: right; */
    /* clear: left; */
    display: inline-block;
    border: none;
  }
  
  #iDiv {
    height: 150px;
    line-height: 150px;
    width: 760px;
    background-color: lightblue;
    clear: both;
    /* display: inline-block; */
    float: right;
  }

  #dCDiv {
    max-width: 760px;
    float: right;
    /* display: inline-block; */
    /* clear: both; */
  }

  #quadDiv {
    /* display: inline-block; */
    max-width: 760px;
    float: right;
    border: none;
  }

  #cToIDiv {
    float: right;
    max-width: 760px;
    border: none;
  }


}


